 /*
 Susan Todd
 Mobil Dev

Colors

gradiant
ltBlu=#B6C0A8
dkBu=#*86bdba
ivory=#CABFA1
redOrange=#C02A12
pinkOrange=#E5604F
limeGreen=#DBDA9A
darkestBrown=#4E4037
dkBrown
#857454
Brown
#806B4E
lightestBrown

blueChevy=#32F8676
TEAL=#388E8B

 */
 /***********body****************/

<link rel="stylesheet"  href="css/main.css">

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Pacifico">

<link rel="stylesheet" href="maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
/*--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=FontName:bolditalic|AnotherFontName:italic">--*/

/*center the web page*/
/*center the pg*/
#wrapper{
		width:960px;
	    margin:0 auto;	 
}
body{
	margin:70px; 


	background: -webkit-linear-gradient(top, rgba(47,134,118,0), rgba(47,134,118,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(47,134,118,0), rgba(47,134,118,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(47,134,118,0), rgba(47,134,118,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(47,134,118,0), rgba(47,134,118,1)); /* Standard syntax (must be last) */

}


header{
	background-color:#4E4037;/**#45341b;/*chocolate*/
	/*width:960px;*/
	height:225px;
	padding:20px;
	
	/*background-repeat:no-repeat;*/
	/*background-color:#45341b ;/*chocolate*/	

}	
#nav{
	padding:20px;
	
	height:170px;
	float:right;


	
	
#content{
	    width: 100%;
	
}	    	
h1{
	
	font-family:"Pacifico";
	font-size: 170px;
	color:#32F8676 ;/*blue*/
	margin:10px;
	padding:20px;

}

h2 , h3, h4 {
	margin:10px;
	padding:20px;

}
h2{
	
	background-repeat: no-repeat;
	
}
h3{
	
	color:#857454;/**/
}
h4{ 
	color:#C02A12;/*dkOrange*/
}
/*style nav btns*/
ul{

	float:left;
	width:100%;
	padding:20px;
	margin:0;
	list-style-type:none;
}
li{
	display:inline;
}
/*paragraph style*/
p{
	/*font-family:Verdana,Arial,sans-serif ;*/
	font-family:"Lato";
	font-size:1.2em;
	color:#4E4037;/*dkBrown*/
}
/*==spans colors==*/
span{

	color:#2F8676;/*blue*/
}
.red{
	color:#C02A12;
}
.green{
	color:#DBDA9A;/*limeGreen*/
}
article{
	margin:20px;
	padding:50px;
}
img{

	border-style:solid; 
	border-color:#E5604F;/*pinkOrange*/
	border-radius: 10px;
	border-width: 7px;
}